.header {
    background: url('../../assets/header-img.jpg') center/cover;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    /* Default height for larger screens */

    /* Media Query for Medium Screens (e.g., tablets) */
    @media (max-width: 992px) {
        height: 500px;
        /* Adjust height for medium screens */
    }

    /* Media Query for Small Screens (e.g., smartphones) */
    @media (max-width: 768px) {
        height: fit-content;
        /* Adjust height for small screens */
    }

    .darkOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        /* Semi-transparent black overlay */
    }
    
    .content {
        z-index: 1; /* Place content above the overlay */
        color: white;
        padding: 16px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: 600;
        letter-spacing: 1.5px;
        line-height: 1.5;
    }
}

.grid-tpl-col-250 {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.column {
    display: flex;
    justify-content: center;
}

mat-card {
    background-color: transparent;
    border: 1px white solid;
    span {
        color: white;
    }
}
