<div class="header">
    <div class="darkOverlay"></div>

    <div class="content">
        <div class="title">
            <h1>A N P L U S <br> ambulanter Pflegedienst</h1>
            <h4>Ihr Pflegedienst in Germering und München West</h4>
        </div>

        <div class="contact">
            <mat-list>
                <a mat-list-item href="tel:+08974442242">
                    <mat-icon matListItemIcon>phone</mat-icon>
                    <div matListItemTitle>089 74 44 22 42</div>
                </a>

                <a mat-list-item href="mailto:info@anplus-pflege.de">
                    <mat-icon matListItemIcon>mail</mat-icon>
                    <div matListItemTitle>info@anplus-pflege.de</div>
                </a>
            </mat-list>
        </div>
    </div>
</div>