<div class="header">
    <div class="darkOverlay"></div>

    <div class="content grid-tpl-col-250">
        <div class="column">
            <h1>Ihr Pflegedienst <br> in Germering und München West</h1>
        </div>
        <mat-card class="column">
            <mat-action-list>
                <a mat-list-item href="tel:+08974442242">
                    <mat-icon matListItemIcon>phone</mat-icon>
                    <span>089 7444 2242</span>
                </a>
                <a mat-list-item href="mailto:info@anplus-pflege.de">
                    <mat-icon matListItemIcon>mail</mat-icon>
                    <span>info@anplus-pflege.de</span>
                </a>
                <a mat-list-item  target="_blank" href="https://wa.me/004917642947873">
                    <img matListItemIcon width="16" src="../../assets/whatsapp-icon.svg" alt="whatsapp-icon">
                    <span>0176 4294 7873</span>
                </a>
            </mat-action-list>
        </mat-card>
    </div>
</div>