.grid-tpl-col-250 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.googlemapContainer {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    height: 250px;
    position: relative;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

mat-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

mat-card {
    border: 0 solid #000 !important;
    box-shadow: none;
    border-radius: 0;
}

mat-list-item:hover {
    filter: brightness(0.5);
}