.grid-tpl-col-250 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer {
    // background-color: rgba(8, 11, 40, 0.5);
    padding: 16px;
}

.googlemapContainer {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    height: 250px;
    position: relative;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

mat-divider {
    margin-top: 32px;
    margin-bottom: 32px;
}

.logo {
    width: 250px;
    height: 80px;
    background: url(../../assets/Kopie-von-Anplus-1.png) 50% 45% / 330px no-repeat;
    border-radius: 4px;
}

.logo-sub {
    font-weight: 700;
    margin: 16px auto;
    font-size: 16px;
}

.title {
    font-size: 20px;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin-left: 0px;
    margin-right: 16px;
}

.mdc-list-item {
    padding-left: 0;
}

mat-list-item:hover {
    filter: brightness(0.5);
}