.toolbar {
    height: 80px;
    background-color: rgb(131, 214, 69);
}

.logo {
    width: 250px;
    height: 100%;
    background: url(../assets/Kopie-von-Anplus-1.png) 50% 45% / 330px no-repeat;
    margin: 0 auto;
}