<mat-sidenav-container class="example-container" (backdropClick)="toggle('backdrop')">

    <!-- <mat-sidenav #sidenav (keydown.escape)="toggle('escape')" disableClose>
        <app-sidenav></app-sidenav>
    </mat-sidenav> -->

    <mat-sidenav-content>
        <div class="toolbar">
            
            <div class="logo"></div>

            <!-- <div class="spacer"></div> -->

            <!-- Toggle based on screen size -->
            <!-- <ng-container *ngIf="isHandset$ | async; else desktopMenu">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </ng-container>

            <ng-template #desktopMenu>
                <app-sidenav></app-sidenav>
            </ng-template> -->
        </div>

        <!-- HEADER -->
        <app-header></app-header>

        <!-- FAHREN SIE ZU UNS -->

        <!-- SIE SUCHEN -->

        <!-- FOOTER -->
        <app-footer></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>